* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

.calculator-wrapper {
  display: grid;
  width: 23.4%;
  height: 27rem;
  margin: 2em 34em;
  border-radius: 1em 1em 0.8em 0.8em;
  background-color: black;
  overflow: hidden;
    /* place-content: center;  == align-content + justify-content */ 

}
@media only screen and (max-width: 600px) {
 .calculator-wrapper{
    width: 90%;
    height: 27rem;
    margin: 2em 1em;
   
  }
}

.calculator-Keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "a a a b"
    "c c c b"
    "c c c b"
    "c c c b"
    "c c c b";
}

.calculator-display {
  background-color: rgb(59, 53, 62);
  text-align: right;
  height: 2.5em;
  font-weight: bold;
  font-size: xx-large;
}

.totalDisplay {
  color: #fff;
  margin: 0.8em 0.5em;
}

.keysFunction {
  grid-area: a;
}

.functionColor{
  background-color: rgb(46, 34, 52);
}

.keysOperation {
  grid-area: b;
}

.orangeOperation{
  background-color: rgb(249, 160, 7);
}

.keysDigits {
  grid-area: c;
}

 .keyZero{
  
  width: 7em;
}