.headerButton {
  background-color: rgba(9, 21, 113, 0.92);
  color: #fff;
  padding: 2em;
}

.headerColorChanged {
  background-color: rgba(105, 12, 120, 0.92);
  color: #fff;
}

.headerButton h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}


.headerButton .faBars {
  font-size: 2rem;
  float: left;
  transform: translateY(40%);
}
