
.TotalDisplay-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 112%;
  color: rgb(247, 244, 244);
  text-align: right;
  transform: translateY(18px); 
  grid-area: TotalDisplay;
}

.TotalDisplay {
  background-color: rgba(74, 63, 63, 0.92);
  padding: 1.2em;
  font-size: 1.2em;
  text-transform: uppercase; 
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}


