.upper-wrapper {
  grid-area: upperOperator;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  width: 50%;
    
}

.upper-btn {
  background-color: rgba(218, 211, 211, 0.92);
  color: black;
  padding: 1.2em;
  font-size: 1em;
  text-transform: uppercase; 
}


