
/* .app {
    padding: 0;
    margin: 0;
} */


.claculator-wrapper{
    display: grid;

}

.componentWrapper{
  display: grid;
  margin: 0 auto;
  /* position: relative; */
}

.claculator-components{
  /* position:absolute; */
  display: grid;
  width: 100%;
  padding: 3em;
  box-shadow: 0 5px 15px 10px rgba(94, 97, 106, 0.2);
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
    grid-column-end: -3;

  grid-template-areas:
    "logic logic logic logic"
    "upperOperator upperOperator upperOperator operation"
    "digit digit digit operation"
    "digit digit digit operation"
    "digit digit digit operation"
    "digit digit digit equal";
  gap: 1px; 
}

