
.claculator-wrapper{
    display: grid;
}

.componentWrapper{
  margin: 0 auto;
}

.claculator-components{
  display: grid;
  padding: 3em;
  width: 100%;
  box-shadow: 0 5px 15px 10px rgba(103, 104, 108, 0.2);
  margin: 0 auto;
  gap: 1px; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  
  
  grid-template-areas:
    "TotalDisplay TotalDisplay TotalDisplay TotalDisplay"
    "upperOperator upperOperator upperOperator operation"
    "digit digit digit operation"
    "digit digit digit operation"
    "digit digit digit operation"
    "digit digit digit equal";
}


